!*.o
*.aux
*.backup
*.bak
*.bbl
*.bcf
*.blg
*.dat
*.dvi
*.error
*.fls
*.log
*.lot 
*.lof
*.mx
*.nav
*.out
*.output
*.pdfsync
*.run.xml
*.toc  
*.snm
*.synctex.gz
*.tab
*.texshop
*.toc
*.xyc
*.vrb
*~
*-blx.bib
.*.fmt
.*.ini
.*.tex
.*.watcher_pid
.DS_Store
._*
.Rhistory
.Trash
.com.apple.timemachine.supported
.directory
.texpadtmp
*.*_latexmk
